<footer class="footer">
  <div class="footer-container">
    <div class="newsletter">
      <h2>Join the Gourmandise Family</h2>
      <p>
        Subscribe now and indulge in exclusive offers and promotions with our Masmoudi Family loyalty program.
      </p>
      <div class="newsletter-input">
        <input type="email" placeholder="Your email address">
        <button type="button">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-section">
        <img src="assets/imagerendu/gourmandise.jpg" alt="Logo" class="footer-logo">
        <p>
          Gourmandise is your destination for exquisite pastries, blending traditional craftsmanship with modern creativity. Established in  Tunisia.
        </p>
      </div>

      <div class="footer-section">
        <h4>Our Delicacies</h4>
        <ul>
          <li>Online Store</li>
          <li>Cheesecake</li>
          <li>Macarons</li>
          <li>Cakes & Tarts</li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Explore</h4>
        <ul>
          <li>Our Locations</li>
          <li>About Gourmandise</li>
          <li>Our Concept</li>
          <li>Catering Services</li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Legal Information</h4>
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>My Account</h4>
        <ul>
          <li>My Orders</li>
          <li>Account Information</li>
          <li>Wishlist</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
