<div class="container">
  <div class="hero">
    <img src="assets/imagerendu/header.png" class="interface-image"/>
  </div>

  <div class="promoted">
    <img class="welcome-image" src="/assets/imagerendu/fine-pastries.png" alt="welcome image" />
    <div class="promo-text">
      <div class="promo-main-text">Indulge in Our Delicious Cheesecakes</div>
      <div class="promo-sub-text cta">
        <div>The Best Cakes in Town!</div>
        <div>Fine Tunisian & European Pastries</div>
      </div>
    </div>
    <img class="welcome-image" src="/assets/imagerendu/fines-pastriesv1.png" alt="welcome image" />
  </div>

 

  <div class="white-paper">
    <img src="/assets/imagerendu/pastries.jpg" alt="Gourmandise" />
    <div class="text">
      <div>
        <div class="header-text cta">Quality</div>
        <div class="sub-text">
          <p>Our brand is built on values</p>
          <p>passed down through generations</p>
        </div>
      </div>
      <a href="" class="learn-more">LEARN MORE</a>
    </div>
  </div>
</div>
